<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- MAKE THIS DYNAMIC AT SOME POINT-->
        <title>{{.Task.Name}}</title>

        <link rel="stylesheet" href="../static/style.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <!-- additional CSS -->

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <!-- icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    <body>
        <div class="row ">
            <div class="container  col-4" id="task-body">
                <h1>{{.Task.Name}}</h1>
                <h3>Due: {{.Task.Due_date}}</h3>
                <div class="row">
                    <div class="col-sm-8" id="details">
                        {{.Task.Description}}
                    </div>
                </div>
                <form>
                    <button type="submit" class="btn btn-pin"><i class="fas fa-thumbtack" style="font-size: 1.5em;"></i></button>
                    <button type="submit" class="btn btn-comment"><i class="fas fa-comment" style="font-size: 1.5em;"></i></button>
                </form>
                <div class="container" id="comments-body">
                    {{range .Task.Comments}}
                    {{.Title}}
                    {{.Username}}
                    {{.Content}}
                    {{end}}
                </div>
            </div>
            
            <div class="col-6">
                <form method="post">
                    <input class="form-control" type="radio" name="chng_tsk_stat" value="in progress" {{.Check1}} /> in progress
                    <br>
                    <input class="form-control" type="radio" name="chng_tsk_stat" value="todo" {{.Check2}} /> todo <br>
                    <input class="form-control" type="radio" name="chng_tsk_stat" value="done" {{.Check3}} /> done <br>
                    <p>Deleting PERMANINTELY delets this task</p>
                    <input class="form-control" type="checkbox" name="delete" value="delete" /> delete <br>
                    <input class="form-control" type="submit"> Submit <br>
                </form>
            </div>
        </div>
    </body>
</html>